/**************** MAIN LAYOUT ****************/
* {
  margin:0;
  padding:0;
}
html, body {
  height:100%; /* needed for container min-height */
}
#centerColumn{
  position: relative; /* needed for footer positioning*/
  margin: 0 auto; /* center, not in IE5 */

  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
  min-height:100%; /* real browsers */

  width: 839px;
  text-align:left;
}
#mainColumn{
  position: relative;
  width: 779px;
  margin: 0 30px 0 30px;
}
#leftFade{
  position: absolute;
  width: 30px;
  height: 600px;
  left: 0px;
}
#rightFade{
  position: absolute;
  width: 30px;
  height: 600px;
  left: 809px;
}
#header{
  position: relative;
  height: 270px;
}
#content{
  position: relative;
  padding-bottom: 75px; /* bottom padding for footer */
  margin-left: 30px;
}
.innerPage{
  margin-right: 30px;
}

#footer{
  position:absolute;
  bottom:0; /* stick to bottom */
  width:839px;
  height: 75px;
}


/******* MAIN LAYOUT COLORS AND BACKGROUNDS ********/
html{ background: url(img/body_bg.jpg) repeat-x #88C5E8;}
#centerColumn{ background: url(img/fade.gif) repeat-y #FAFBFC;}
#leftFade{ background-image: url(img/left_fade_top.jpg);}
#rightFade{ background-image: url(img/right_fade_top.jpg);}
#header{ background: url(img/header_bg.jpg) no-repeat #FFFFFF;}


/*********** DEFAULT FONTS AND COLORS ************/

body{
  color:#535353;
  font: 12px/16px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h1, h2, h3, #nav{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #535353;
}
.orange{
  color: #F66700;
}
a, a:visited{
  color: #333;
  text-decoration:none;
}
a:hover {
  color: #F66700;
}


/********** HEADER AND MAIN NAVIGATION ***********/

#logo{
  position: absolute;
  top: 40px;
  left: 30px;
}
#slogan{
  position: absolute;
  top: 70px;
  left: 420px;
}
#nav{
  /*text-transform:uppercase;*/
  font-size: 14px;
  position: absolute;
  left: 30px;
  bottom: 50px;
  font-weight: bold;
}
#nav a{ color: #5C5C5C;}
#nav a:hover, #nav span{ color: #F66700;}
#nav .dot{
  display: inline;
  padding-left: 30px;
  background: url(img/menu_dot.gif) 9px 2px no-repeat;
}


/********** SUB NAVIGATION ***********/

#subnav{
 position: absolute;
 overflow: hidden;
 background: url(img/subnav_bg.jpg) no-repeat;
 width: 213px;
 height: 254px;
 top: 27px;
 right: 30px;
 padding-top: 9px;
}
#subnav .items a, #subnav .items a:visited, #subnav .items .selected{
  text-decoration: none;
  display: block;
  margin-left: 10px;
  padding: 10px 0 12px 50px;
  font: 18px/18px "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}
#subnav .items a:hover, #subnav .items .selected{
  color: #F2460D;
}
#subnav .items a .version{
  font-size: 28px;
  line-height: 24px;
  margin-left: -3px;
}
#subnav .downloads{
  margin-left:45px;
}
#subnav .downloads a, #subnav .downloads a:visited{
  display: block;
  background: url(img/list_dot.gif) 6px 6px no-repeat;
  padding-left: 15px;
  margin-bottom: 3px;
  text-decoration: none;
  font: 11px/12px verdana, tahoma, Helvetica, sans-serif;
}



/********** PAGE CONTENT ***********/

#content a{
  text-decoration:underline;
}

h1{
  font-size: 35px;
  font-weight: normal;
  background: url(img/title_bg.gif) no-repeat left bottom;
  padding-bottom: 24px;
}
h2{
  font-size: 24px;
  font-weight: normal;
  background: url(img/title_bg.gif) no-repeat left bottom;
  padding-bottom: 18px;
}
h3{
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 8px;
}
p{
  padding-bottom: 16px;
}


#use_svnkit_for{
  height: 250px;
  padding: 10px 220px 75px 0;
  font-size: 10px;
  line-height: 10px;
}
#use_svnkit_for td{
  padding: 10px 0;
}

#twoColumns table{}
#twoColumns td{
  padding-right: 30px;
  vertical-align: top;
  width: 50%;
}
.note{
  font: 18px/18px "Trebuchet MS", Helvetica, sans-serif;
  color: #F66700;
  font-weight: normal;
  padding-left: 15px;
  margin-bottom: 25px;
  background: url(img/note_bg.gif) repeat-y;
}


/********** FOOTER ***********/
#footer {
  /*position: relative; */
  background: url(img/footer_bg.jpg) no-repeat bottom;
}
#footerMenu{
 position: absolute;
 top: 5px;
 right: 55px;
}
#footerMenu a{color: #FFFFFF;}
#footerMenu a:hover{color: #FFFFFF;
text-decoration: underline;
}
#copyright {
  position: absolute;
  color: #FFFFFF;
  top: 5px;
  left: 55px;
}
#copyright2{
  position: absolute;
  font-size: 9px;
  line-height: 11px;
  color: #FFFFFF;
  top: 38px;
  margin: 0 55px 10px;
}