* text=auto !eol
/CHANGES.txt eol=lf
/LICENSE.txt eol=lf
gradle/wrapper/gradle-wrapper.jar -text
/gradlew eol=lf
svnkit-cli/src/main/resources/org/tmatesoft/svn/cli/svn/commands.properties eol=lf
svnkit-cli/src/main/resources/org/tmatesoft/svn/cli/svn/options.properties eol=lf
svnkit-cli/src/main/scripts/jsvn eol=lf
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVGetDeletedRevisionHandler.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVGetDeletedRevisionRequest.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVGetLocationSegmentsHandler.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVGetLocationSegmentsRequest.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVLockHandler.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVLockRequest.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVLockWalker.java -text
svnkit-dav/src/main/java/org/tmatesoft/svn/core/internal/server/dav/handlers/DAVUnlockHandler.java -text
svnkit-distribution/src/main/licenses/LICENSE-ANTLR.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-JAVAHL.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-JNA.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-SEQUENCE.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-SQLJET.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-TRILEAD.txt eol=lf
svnkit-test/configurations/shared/apache/python.template.conf eol=lf
svnkit-test/configurations/shared/apache/users eol=lf
svnkit-test/configurations/shared/daemon/matcher.pl -text
svnkit-test/configurations/shared/daemon/snapshot eol=lf
svnkit-test/configurations/shared/daemon/template eol=lf
svnkit-test/configurations/shared/daemon/template.bat -text
svnkit-test/configurations/shared/daemon/template.py -text
svnkit-test/configurations/shared/fsfs.conf -text
svnkit-test/nailgun/Makefile -text
svnkit-test/nailgun/README.txt -text
svnkit-test/nailgun/nailgun-0.7.1.jar -text
svnkit-test/nailgun/ng.exe -text
svnkit-test/nailgun/src/c/ng.c -text
svnkit-test/src/main/java/org/tmatesoft/svn/core/test/ConsoleLogger.java -text
svnkit/.settings/org.eclipse.jdt.ui.prefs -text
svnkit/build.gradle -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetDeleteStatement.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetInsertStatement.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetTableStatement.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetTransaction.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetUnionStatement.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/db/SVNSqlJetUpdateStatement.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/dav/http/DefaultHTTPNegotiateAuthentication.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/dav/http/IHTTPNegotiateAuthenticationFactory.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/IFSRepresentationCacheManager.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/FSEmptyRepresentationCacheManager.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/FSEmptyRepresentationCacheManagerFactory.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/FSRepresentationCacheManager.java svneol=native#text/plain
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/FSRepresentationCacheManagerFactory.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/FSRepresentationCacheRecord.java svneol=native#text/plain
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/repcache/IFSRepresentationCacheManagerFactory.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/ISVNTask.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/ISVNThreadPool.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/SVNEmptyTask.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/SVNEmptyThreadPool.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/SVNTask.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/SVNThreadPool.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/jna/ISVNMacOsCFLibrary.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/jna/ISVNMacOsSecurityLibrary.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/jna/SVNMacOsKeychain.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/jna/SVNOS2Util.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/DefaultSVNHostOptions.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/DefaultSVNHostOptionsProvider.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNAuthStoreHandler.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNAuthenticationStorageOptions.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNGnomeKeyringPasswordProvider.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNHostOptions.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNHostOptionsProvider.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNPersistentAuthenticationProvider.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNSSLPasspharsePromptSupport.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/SVNClassLoader.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/SVNDiffConflictChoiceStyle.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/SVNMethodCallLogger.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/admin/SVNAdminArea16.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/admin/SVNAdminArea16Factory.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/admin/SVNSimpleVersionedPropertiesImpl.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNAmbientDepthFilterEditor17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNBaseClient17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNCommitMediator17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNCommitter17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNUpdateEditor17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNWCConflictDescription17.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/SVNWCUtils.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/SvnChangelistActualNodesTrigger.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/SvnWcDbChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/SvnWcDbPristines.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNUpdateBaseNodePresenceRevnumAndReposPath.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbApplyChangesToBaseNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbClearActualNodeLeavingConflict.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbClearDavCacheRecursive.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbClearPropsConflict.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbClearTextConflict.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbCreateSchema.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteActualEmpties.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteActualEmpty.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteActualNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteActualNodeWithoutConflict.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteAllWorkingNodes.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteBaseNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteLowestWorkingNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteNodes.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeletePristine.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeletePristineIfUnreferenced.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteWCLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteWorkItem.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeleteWorkingNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbFindWCLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualConflictData.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualEmpties.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualProps.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualTextConflicts.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualTreeConflicts.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertPristine.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertRepository.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTarget2.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthFiles.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthFilesWithChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthImmediates.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthImmediatesWithChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthInfinity.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthInfinityWithChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetWithChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWCLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWCRoot.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkItem.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkingNodeFromBase.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkingNodeFromBaseCopy.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkingNodeFromBaseCopyPresence.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkingNodeNormalFromBase.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertWorkingNodeNotPresentFromBase.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbLookForWork.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbMarkSkippedChangelistDirs.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbNodesMaxOpDepth.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbResetActualWithChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectActualChildrenTreeConflict.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectAnyPristineReference.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectLowestWorkingNode.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectNodeProps.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectNotPresent.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectOpDepthChildren.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectRepository.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectTargetslist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectUnreferencedPristines.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectWorkItem.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualChangelists.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualConflictData.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualPropertyConflicts.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualProps.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualTextConflicts.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateActualTreeConflicts.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateBaseRevision.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateCopyfrom.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateNodeBaseDepth.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateNodeBasePresence.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateNodeFileinfo.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateNodeWorkingDepth.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgAnnotate.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgCleanup.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgLockUtil.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgResolve.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgSetChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgSetLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgUnlock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldAnnotate.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldCat.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldCleanup.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldResolve.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldSetChangelist.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldSetLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldUnlock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteAnnotate.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteCat.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteLog.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteRemoteDelete.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteRemoteMkDir.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteSetLock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteUnlock.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/io/repository/template.jar -text
svnkit/src/main/java/org/tmatesoft/svn/core/wc/ISVNFileFilter.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/wc2/SvnAnnotateItem.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/wc2/SvnRemoteDelete.java -text
svnkit/src/main/resources/org/tmatesoft/svn/core/internal/wc/README.txt eol=lf
svnkit/src/main/resources/org/tmatesoft/svn/core/internal/wc/config eol=lf
svnkit/src/main/resources/org/tmatesoft/svn/core/internal/wc/servers eol=lf
svnkit/src/main/resources/org/tmatesoft/svn/core/io/repository/template.jar -text
