* text=auto !eol
/CHANGES.txt eol=lf
/LICENSE.txt eol=lf
gradle/wrapper/gradle-wrapper.jar -text
/gradlew eol=lf
svnkit-cli/src/main/resources/org/tmatesoft/svn/cli/svn/commands.properties eol=lf
svnkit-cli/src/main/resources/org/tmatesoft/svn/cli/svn/options.properties eol=lf
svnkit-cli/src/main/scripts/jsvn eol=lf
svnkit-distribution/src/main/licenses/LICENSE-ANTLR.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-JAVAHL.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-JNA.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-SEQUENCE.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-SQLJET.txt eol=lf
svnkit-distribution/src/main/licenses/LICENSE-TRILEAD.txt eol=lf
svnkit-test/configurations/shared/apache/python.template.conf eol=lf
svnkit-test/configurations/shared/apache/users eol=lf
svnkit-test/configurations/shared/daemon/matcher.pl -text
svnkit-test/configurations/shared/daemon/snapshot eol=lf
svnkit-test/configurations/shared/daemon/template eol=lf
svnkit-test/configurations/shared/daemon/template.bat -text
svnkit-test/configurations/shared/daemon/template.py -text
svnkit-test/configurations/shared/fsfs.conf -text
svnkit-test/nailgun/nailgun-0.7.1.jar -text
svnkit-test/nailgun/ng.exe -text
svnkit-test/src/main/java/org/tmatesoft/svn/core/test/ConsoleLogger.java -text svneol=native#unset
svnkit/.settings/org.eclipse.jdt.ui.prefs -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/io/fs/IFSRepresentationCacheManager.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/util/jna/SVNOS2Util.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/ISVNSSLPasspharsePromptSupport.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/admin/SVNAdminArea16.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc/admin/SVNAdminArea16Factory.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/SvnChangelistActualNodesTrigger.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/SvnWcDbChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbClearDavCacheRecursive.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbDeletePristineIfUnreferenced.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertActualEmpties.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertExternal.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertExternalUpgrade.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertOrIgnorePristine.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTarget2.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthFiles.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthFilesWithChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthImmediates.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthImmediatesWithChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthInfinity.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbInsertTargetDepthInfinityWithChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbMarkSkippedChangelistDirs.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectAllFiles.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectTargetslist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbSelectUnreferencedPristines.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateBaseNodeDavCache.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc17/db/statement/SVNWCDbUpdateNodeProperties.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryCatImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryCopyRevisionPropertiesImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryFilterImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetAuthorImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetChangedDirectoriesImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetChangedImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetDateImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetDiffImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetHistoryImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetInfoImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetLockImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetLogImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetPropertiesImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetPropertyImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetRevisionPropertiesImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetRevisionPropertyImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetTreeImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetUUIDImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryGetYoungestImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryHotCopyImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryInitializeImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryListLocksImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryListTransactionsImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryLoadImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryPackImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryRecoverImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryRemoveLocksImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryRemoveTransactionsImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositorySetUUIDImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositorySyncInfoImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositorySynchronizeImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryUpgradeImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/admin/SvnRepositoryVerifyImpl.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgLockUtil.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgResolve.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgSetChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgSetLock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgUnlock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgUpgrade.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/ng/SvnNgUpgradeSDb.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldAnnotate.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldCat.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldCleanup.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldGetChangelistPaths.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldResolve.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldSetChangelist.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldSetLock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldUnlock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/old/SvnOldUpgradeEntries.java -text
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteAnnotate.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteLog.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteRemoteDelete.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteRemoteMkDir.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteSetLock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/internal/wc2/remote/SvnRemoteUnlock.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/io/repository/template.jar -text
svnkit/src/main/java/org/tmatesoft/svn/core/wc/ISVNFileFilter.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/wc2/SvnAnnotateItem.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/wc2/SvnGetChangelistPaths.java -text svneol=native#unset
svnkit/src/main/java/org/tmatesoft/svn/core/wc2/SvnRemoteDelete.java -text svneol=native#unset
svnkit/src/main/resources/org/tmatesoft/svn/core/internal/wc/config eol=lf
svnkit/src/main/resources/org/tmatesoft/svn/core/internal/wc/servers eol=lf
svnkit/src/main/resources/org/tmatesoft/svn/core/io/repository/template.jar -text
svnkit/src/test/java/org/tmatesoft/svn/test/DumpNodeReplacementTest.java -text
