/*.iws
/bin
/build
contrib/javahl/bin
contrib/javahl/bin-test
contrib/sequence/bin
contrib/sequence/bin-test
doc/examples/bin
/lib
svnkit-cli/bin
svnkit-eclipse/bin
svnkit-test/bin
svnkit-test/python-tests-log.xml
svnkit-test/python.log.html
svnkit-test/src/org/tmatesoft/svn/test/util/test.properties
svnkit-test/test.properties
svnkit/bin
svnkit/src/org/tmatesoft/svn/examples
svnkit/src/org/tmatesoft/svn/util/SVNTest.java
www/download/results.html
