* text=auto !eol
/.classpath -text
/.project -text
/COPYING -text
/build.xml -text
/changelog.txt -text
contrib/javahl/COPYING-SVN -text
contrib/javahl/javahl.iml -text
contrib/jsch/JSCH-LICENSE -text
contrib/jsch/jsch-0.1.18.jar -text
contrib/junit/junit.jar -text
contrib/sequence/COPYING -text
contrib/sequence/sequence.iml -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceAllTests.java -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceDifferenceAssemblyTest.java -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceDifferenceBlockShifterTest.java -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceDifferenceCoreTest.java -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceLCSTest.java -text
contrib/sequence/src-test/de/regnis/q/sequence/QSequenceTestMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceCommonBlockFactory.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceCommonBlocks.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceDifference.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceDifferenceBlock.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceDifferenceBlockShifter.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceSimpleLCS.java -text
contrib/sequence/src/de/regnis/q/sequence/QSequenceSimpleLCSCommand.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceAlgorithm.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceAssert.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceCancelledException.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceCanceller.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceDeePathBackwardExtender.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceDeePathExtender.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceDeePathExtenderArray.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceDeePathForwardExtender.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceDummyCanceller.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceMiddleSnakeFinder.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceMiddleSnakeFinderResult.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceRestrictedMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/core/QSequenceSnakeRegister.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachableMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachableMediaGetter.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachableMediaLeftGetter.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachableMediaRightGetter.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachingMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceCachingMediaSymbolMap.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMedia.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMediaBlock.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMediaConfusionDetector.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMediaLeftBlock.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMediaNoConfusionDectector.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceDiscardingMediaRightBlock.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceMediaComparer.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceMediaDummyIndexTransformer.java -text
contrib/sequence/src/de/regnis/q/sequence/media/QSequenceMediaIndexTransformer.java -text
javasvn-eclipse/plugin.xml -text
javasvn-eclipse/src/org/tmatesoft/svn/core/SVNPlugin.java -text
javasvn-test/apache/httpd.template.conf -text
javasvn-test/apache/passwd -text
javasvn-test/fixture/directory/testFile2.txt -text
javasvn-test/fixture/testFile.txt -text
javasvn-test/javasvn-test.iml -text
javasvn-test/python/patch/main.py -text
javasvn-test/src/org/tmatesoft/svn/core/test/AbstractRepositoryTest.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/AllTests.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/IFileVisitor.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/PythonTests.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/SVN.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/SVNCheckoutEditor.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/SVNCheckoutEditor2.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/SVNCommitMediator.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/Server.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/TestSVNFSEntries.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/TestSVNFileContent.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/TestSVNRepository.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/TestSVNStatus.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/TestSVNWorkspace.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/diff/SVNSequenceDeltaGeneratorTest.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/diff/SVNSequenceLineReaderTest.java -text
javasvn-test/src/org/tmatesoft/svn/core/test/diff/internal/ws/fs/FSMergerBySequenceTest.java -text
javasvn-test/svn-config/config -text
javasvn-test/test.mac.properties -text
javasvn-test/test.unix.properties -text
javasvn-test/test.windows.properties -text
/javasvn.ipr -text
javasvn/cli/svn -text
javasvn/cli/svn.bat -text
javasvn/javasvn.iml -text
javasvn/src/org/tigris/subversion/javahl/SVNClient.java -text
javasvn/src/org/tmatesoft/svn/cli/CollectingExternalsHandler.java -text
javasvn/src/org/tmatesoft/svn/cli/SVN.java -text
javasvn/src/org/tmatesoft/svn/cli/SVNArgument.java -text
javasvn/src/org/tmatesoft/svn/cli/SVNCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/SVNCommandLine.java -text
javasvn/src/org/tmatesoft/svn/cli/command/AddCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/CheckoutCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/CommitCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/DeleteCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/ImportCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/MkDirCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/PropsetCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/RevertCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/StatusCommand.java -text
javasvn/src/org/tmatesoft/svn/cli/command/UpdateCommand.java -text
javasvn/src/org/tmatesoft/svn/core/DefaultSVNExternalsHandler.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNCommitHandler.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNDirectoryEntry.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNEntry.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNEntryFactory.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNExternalsHandler.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNFileContent.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNFileEntry.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNRootEntry.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNStatusHandler.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNWorkspace.java -text
javasvn/src/org/tmatesoft/svn/core/ISVNWorkspaceListener.java -text
javasvn/src/org/tmatesoft/svn/core/SVNProperty.java -text
javasvn/src/org/tmatesoft/svn/core/SVNStatus.java -text
javasvn/src/org/tmatesoft/svn/core/SVNWorkspaceAdapter.java -text
javasvn/src/org/tmatesoft/svn/core/SVNWorkspaceManager.java -text
javasvn/src/org/tmatesoft/svn/core/diff/ISVNDeltaConsumer.java -text
javasvn/src/org/tmatesoft/svn/core/diff/ISVNRAData.java -text
javasvn/src/org/tmatesoft/svn/core/diff/SVNDiffInstruction.java -text
javasvn/src/org/tmatesoft/svn/core/diff/SVNDiffWindow.java -text
javasvn/src/org/tmatesoft/svn/core/diff/SVNDiffWindowBuilder.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/ISVNDeltaGenerator.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/SVNAllDeltaGenerator.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/SVNSequenceDeltaGenerator.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/SVNSequenceLine.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/SVNSequenceLineReader.java -text
javasvn/src/org/tmatesoft/svn/core/diff/delta/SVNSequenceMedia.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNCheckoutEditor.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNCommitUtil.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNExternal.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNReporterBaton.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNStatusEditor.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNStatusUtil.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNWorkspace.java -text
javasvn/src/org/tmatesoft/svn/core/internal/SVNWorkspaceMediatorAdapter.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/ChunkedInputStream.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVBaselineInfo.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVCommitEditor.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVConnection.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVElement.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVRepository.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVRepositoryFactory.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVResource.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVResponse.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVStatus.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/DAVUtil.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/FixedSizeInputStream.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/HttpConnection.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/IDAVResponseHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/IDAVSSLManager.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/XMLInputStream.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/BasicDAVDeltaHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/BasicDAVHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVDateRevisionHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVEditorHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVFileRevisionHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVLocationsHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVLogHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVMergeHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVOptionsHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVPropertiesHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/dav/handlers/DAVProppatchHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/CramMD5.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/RollbackInputStream.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNAuthRepository.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNAuthenticator.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNCommitEditor.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNConnection.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNDataSource.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNEditModeReader.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNReader.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNRepositoryFactoryImpl.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNRepositoryImpl.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNSSHConnection.java -text
javasvn/src/org/tmatesoft/svn/core/internal/io/svn/SVNWriter.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSAdminArea.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSDirEntry.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSEntry.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSEntryFactory.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSEntryHandler.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSFileEntry.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSFileEntryContent.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSMerger.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSMergerBySequence.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSMergerBySequenceList.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSRootEntry.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/FSUtil.java -text
javasvn/src/org/tmatesoft/svn/core/internal/ws/fs/SVNRAFileData.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNCredentials.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNCredentialsProvider.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNDiffHandler.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNDirEntryHandler.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNEditor.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNFileRevisionHandler.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNLocationEntryHandler.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNLogEntryHandler.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNReporter.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNReporterBaton.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNSSHCredentials.java -text
javasvn/src/org/tmatesoft/svn/core/io/ISVNWorkspaceMediator.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNAuthenticationException.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNCancelException.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNCommitInfo.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNDirEntry.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNError.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNException.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNFileRevision.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNLocationEntry.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNLogEntry.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNLogEntryPath.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNNodeKind.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNRepository.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNRepositoryFactory.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNRepositoryLocation.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNRevisionProperty.java -text
javasvn/src/org/tmatesoft/svn/core/io/SVNSimpleCredentialsProvider.java -text
javasvn/src/org/tmatesoft/svn/util/Base64.java -text
javasvn/src/org/tmatesoft/svn/util/DebugLog.java -text
javasvn/src/org/tmatesoft/svn/util/FileTypeUtil.java -text
javasvn/src/org/tmatesoft/svn/util/PathUtil.java -text
javasvn/src/org/tmatesoft/svn/util/SVNUtil.java -text
javasvn/src/org/tmatesoft/svn/util/SocketFactory.java -text
javasvn/src/org/tmatesoft/svn/util/TimeUtil.java -text
www/.htaccess -text
www/build.html -text
www/feed/feedcreator.class.php -text
www/feed/lgpl.txt -text
www/feed/rss.php -text
www/feed/rss_util.php -text
www/index.php -text
www/license.html -text
www/plugin.xml -text
www/rss.php -text
www/structure.html -text
www/subclipse.html -text
