<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.tmatesoft.svnkit"
   name="SVNKit Library Plug-in"
   version="1.3.3"
   provider-name="TMate Software"
   class="org.tmatesoft.svn.core.SVNKitActivator">

   <runtime>
      <library name="svnkit.jar">
         <export name="*"/>
      </library>
      <library name="contrib/trilead/trilead.jar"/>
      <library name="contrib/junit/junit.jar"/>
      <library name="contrib/jna/jna.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="contrib/sqljet/antlr-runtime-3.1.3.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="contrib/sqljet/sqljet.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.osgi.services"/>
      <import plugin="org.eclipse.osgi"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
