<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.tmatesoft.javasvn"
   name="JavaSVN Library Plug-in"
   version="1.0.0"
   provider-name="TMate Software"
   class="org.tmatesoft.svn.core.JavaSVNPlugin">

   <runtime>
      <library name="javasvn.jar">
         <export name="*"/>
      </library>
      <library name="contrib/jsch/jsch.jar"/>
      <library name="contrib/junit/junit.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
