AddHandler server-parsed .html
AddType application/octet-stream .jar
Action rss /download/rss.php
Action rss2 /download/rss2.php

<FilesMatch (rss.xml)>
ForceType rss
</FilesMatch>
<FilesMatch (rss2.xml)>
ForceType rss2
</FilesMatch>

AddType application/octet-stream .jar
Options -Indexes
ErrorDocument 404 /redirect.php
ErrorDocument 403 /redirect.php