<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.tigris.subversion.subclipse.core"
   name="%pluginName"
   version="0.9.25"
   provider-name="%providerName"
   class="org.tigris.subversion.subclipse.core.SVNProviderPlugin">

   <runtime>
      
      <library name="svnClientAdapter.jar">
         <export name="*"/>
      </library>
      <!-- 
      <library name="svnjavahl.jar">
         <export name="*"/>
      </library>
      -->
      <library name="jsch-0.1.18.jar">
         <export name="*"/>
      </library>
      <library name="javasvn.jar">
         <export name="*"/>
      </library>
      <library name="SVNPluginCore.jar">
         <export name="*"/>
      </library>
      <library name="commons-logging-1.0.4.jar">
         <export name="*"/>
      </library>
      <library name="jakarta-regexp-1.3.jar">
         <export name="*"/>
      </library>
      <library name="commons-lang-2.0.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.osgi"/>
   </requires>
   <extension-point id="svnPropertyTypes" name="SVN Property Type Definitions" schema="schema/svnPropertyTypes.exsd"/>
   <extension-point id="svnPropertyGroups" name="SVN Property Group Definitions" schema="schema/PropertyGroups.exsd"/>

   <extension
         point="org.eclipse.team.core.repository">
      <repository
            typeClass="org.tigris.subversion.subclipse.core.SVNTeamProviderType"
            class="org.tigris.subversion.subclipse.core.SVNTeamProvider"
            id="org.tigris.subversion.subclipse.core.svnnature">
      </repository>
   </extension>
   <extension
         id="svnremove"
         name="%svnRemove"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.tigris.subversion.subclipse.core.svnmarker">
      </super>
      <attribute
            name="name">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="RCS">
      </ignore>
      <ignore
            enabled="true"
            pattern="RCSLOG">
      </ignore>
      <ignore
            enabled="true"
            pattern="SCCS">
      </ignore>
      <ignore
            enabled="true"
            pattern="CVS.adm">
      </ignore>
      <ignore
            enabled="true"
            pattern="tags">
      </ignore>
      <ignore
            enabled="true"
            pattern="TAGS">
      </ignore>
      <ignore
            enabled="true"
            pattern=".make.state">
      </ignore>
      <ignore
            enabled="true"
            pattern=".nse_depinfo">
      </ignore>
      <ignore
            enabled="true"
            pattern="*~">
      </ignore>
      <ignore
            enabled="true"
            pattern="#*">
      </ignore>
      <ignore
            enabled="true"
            pattern=".#*">
      </ignore>
      <ignore
            enabled="true"
            pattern=",*">
      </ignore>
      <ignore
            enabled="true"
            pattern="_$*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*$">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.old">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.bak">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.BAK">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.orig">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.rej">
      </ignore>
      <ignore
            enabled="true"
            pattern=".del-*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.a">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.olb">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.obj">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.so">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.exe">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.Z">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.elc">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.ln">
      </ignore>
      <ignore
            enabled="true"
            pattern=".DS_Store">
      </ignore>
      <ignore
            enabled="false"
            pattern="core">
      </ignore>
      <ignore
            enabled="true"
            pattern=".svn">
      </ignore>
      <ignore
            enabled="true"
            pattern="_svn">
      </ignore>
      <ignore
            enabled="true"
            pattern="svn-commit*.tmp">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.merge-right*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.merge-left*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.working">
      </ignore>
   </extension>
   <extension
         point="org.tigris.subversion.subclipse.core.svnPropertyTypes">
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:executable">
         <description>
         The svn:executable property is used to control a versioned file&apos;s filesystem-level execute permission
bit in a semi-automated way. This property has no defined values-its mere presence indicates a
desire that the execute permission bit be kept enabled by Subversion. Removing this property will restore
full control of the execute bit back to the operating system.
On many operating systems, the ability to execute a file as a command is governed by the presence of an
execute permission bit. This bit usually defaults to being disabled, and must be explicitly enabled by the
user for each file that needs it. In a working copy, new files are being created all the time as new versions
of existing files are received during an update. This means that you might enable the execute bit on
a file, then update your working copy, and if that file was changed as part of the update, its execute bit
might get disabled. So, Subversion provides the svn:executable property as a way to keep the execute
bit enabled.
This property has no effect on filesystems that have no concept of an executable permission bit, such as
FAT32 and NTFS. Also, although it has no defined values, Subversion will force its value to * when
setting this property. Finally, this property is valid only on files, not on directories
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:mime-type">
         <description>
The svn:mime-type property serves many purposes in Subversion. Besides being a general-purpose
storage location for a file's Multipurpose Internet Mail Extensions (MIME) classification, the value of
this property determines some behavioral characteristics of Subversion itself.
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:ignore">
         <description>
The svn:ignore property contains a list of file patterns which certain Subversion operations will ignore.
Perhaps the most commonly used special property, it works in conjunction with the globalignores
run-time configuration option (see the section called "Config") to filter unversioned files and
directories out of commands like svn status, svn add, and svn import.
The rationale behind the svn:ignore property is easily explained. Subversion does not assume that
every file or subdirectory in a working copy directory is intended for version control. Resources must be
explicitly placed under Subversion's management using the svn add or svn import commands. As a result,
there are often many resources in a working copy that are not versioned.
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:keywords">
         <description>
Subversion has the ability to substitute keywords-pieces of useful, dynamic information about a versioned
file-into the contents of the file itself. Keywords generally describe information about the last
time the file was known to be modified. Because this information changes each time the file changes,
and more importantly, just after the file changes, it is a hassle for any process except the version control
system to keep the data completely up-to-date. Left to human authors, the information would inevitably
grow stale.
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:eol-style">
         <description>
Unless otherwise noted using a versioned file's svn:mime-type property, Subversion assumes the
file contains human-readable data. Generally speaking, Subversion only uses this knowledge to determine
if contextual difference reports for that file are possible. Otherwise, to Subversion, bytes are bytes.
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:externals">
         <description>
The svn:externals property contains instructions for Subversion to populate a versioned directory
with one or more other checked-out Subversion working copies.
</description>
      </svnPropertyTypes>
      <svnPropertyTypes
            groupId="org.tigris.subversion.subclipse.core.SVN"
            type="String"
            name="svn:externals">
         <description>
The svn:special property is the only svn: property that isn't meant to be directly set or modified
by users. Subversion automatically sets this property whenever a "special" object is scheduled for addition,
such as a symbolic link.
</description>
      </svnPropertyTypes>
 </extension>
   <extension
         point="org.tigris.subversion.subclipse.core.svnPropertyGroups"> 
      <svnPropertyGroups
            id="org.tigris.subversion.subclipse.core.SVN"
            name="SVN">
         <description>
Standard subversion properties
         </description>
      </svnPropertyGroups>
   </extension>
</plugin>
