AddHandler server-parsed .html
AddType application/octet-stream .jar
Action rss /svn/download/rss.php
Action rss2 /svn/download/rss2.php

<FilesMatch (rss.xml)>
ForceType rss
</FilesMatch>
<FilesMatch (rss2.xml)>
ForceType rss2
</FilesMatch>