# repository.url=
# temp.dir=
sqlite3.command=sqlite3
large.update.step=10
svn.command=svn
# update.schedule=1,2-3,4-5,6
# apachectl.command=/usr/sbin/apache2ctl
# apache.root=/usr/lib/apache2
# htpasswd.command=/usr/bin/htpasswd
svnserve.command=svnserve
