<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.tmatesoft.svnkit"
   name="SVNKit Library Plug-in"
   version="%svnkit.version%"
   provider-name="TMate Software"
   class="org.tmatesoft.svn.core.SVNKitPlugin">

   <runtime>
      <library name="svnkit-javahl.jar">
         <export name="*"/>
      </library>
      <library name="svnkit.jar">
         <export name="*"/>
      </library>
      <library name="svnkitplugin.jar"/>
      <library name="ganymed.jar"/>
      <library name="jna.jar"/>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
